@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
}

select {
  border-color: rgba(0, 0, 0, 0.064);
  background-color: azure;
}
.fa-plus {
  color: green;
  margin: 5px;
}
.fa-minus {
  color: red;
  margin: 5px;
}
.fa-trash {
  color: red;
}

input {
  margin-top: 10px;
  box-shadow: none;
}
